.jumbotron {
    background-color: #185899;
    color: #ffffff;
}
.logo {
    color: #5bc0de;
    font-size: 150px;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
		margin: 25px 0;
		font-size: 100px;
    }
	p{
		font-size:12px;
	}
}

.logo-small {
  color: #5bc0de;
  font-size: 50px;
}
.bg-grey {
  background-color: #f6f6f6;
}
.thumbnail {
    padding: 15px;
}
.thumbnail img {
    margin-bottom: 10px;
}

.thumbnail:hover {
	box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel {
    border: 1px solid #185899;
    border-radius:0;
    transition: box-shadow 0.5s;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
    border: 1px solid #185899;
    background-color: #fff !important;
    color: #185899;
}
.panel-heading {
    color: #fff !important;
    background-color: #185899 !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-footer {
    background-color: #fff !important;
}
.panel-footer h3 {
    font-size: 32px;
}
.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}
.panel-footer .btn {
    margin: 15px 0;
    background-color: #185899;
    color: #fff;
} 
.navbar {
    margin-bottom: 0;
    background-color: #185899;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #185899 !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
} 
.container-fluid, .container{
	padding-top:60px;
}
nav .container{
	padding-top:0px;
}
/* Изменение свойства opacity от 0% до 100% при прокрутке элементов по оси Y */
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
    0% {
        opacity: 0; /*прозрачность*/
        transform: translateY(70%); /*смещение по оси Y*/
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

#totop {
    position: fixed;
    bottom: 40px;
    left: 40px;
    padding: 0px 0 15px 7px;
    width: 50px;
    height: 50px;
    background-color: #185899;
    border-radius: 50%;
    font-size: 40px;
    color: #fff;
    z-index:9999;
    opacity: 0;
}


